name: Standard Lint

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: "20"
      lint-command:
        required: false
        type: string
        default: "npm run lint"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Run Linting
        run: ${{ inputs.lint-command }}
